h1{
    color: beige;
}
.omslagsbild{
    display: flex;
    justify-content: center;
    padding : 2px;
}

.socialmediaicons{
    background-color:beige;
    display: flex;
    justify-content: space-around;
    /* Height av backround box, ändra till media quary sen*/
    height: 40px;
}
.biotext{

    color: beige;

}